pres_assets/*
*__pycache__*
report/cogsci-template/apacite.bst report/cogsci-template/apacite.sty report/cogsci-template/cogsci_2page_short_summary_template.pdf report/cogsci-template/cogsci_2page_short_summary_template.tex report/cogsci-template/cogsci_2page_short_summary_template_word.dotx report/cogsci-template/cogsci_2page_short_summary_template_word.pdf report/cogsci-template/cogsci_full_paper_template_final_version_deanonymized.pdf report/cogsci-template/cogsci_full_paper_template.pdf report/cogsci-template/cogsci_full_paper_template.tex report/cogsci-template/cogsci_full_paper_template_word.dotx report/cogsci-template/cogsci_full_paper_template_word_final_version_deanonymized.dotx report/cogsci-template/cogsci_full_paper_template_word.pdf report/cogsci-template/cogsci.sty report/cogsci-template/CogSci_Template.bib report/cogsci-template/README.md
